footer{
	background-color: black;
	text-align: center;
	color:white;
	padding:25px;
}


.img-thumbnail
{
	border:1px solid #dee2e6;;
	padding: 0px;
	
}


h3{
	text-align: center;
	text-decoration: underline;
}

.col
{
	margin:50px;
}