footer{
	background-color: black;
	text-align: center;
	color:white;
	padding:25px;
}

#cont2
{
	border: 1px solid #dee2e6;
}

#cont1
{
	background-color: white;
}

h1
{
	text-align: center;
	margin-bottom: 30px;
}

.img-thumbnail
{
	
	border:0px;
}

.col
{
	margin:70px;
}

/*







#centre
{
	text-align: center;
}

*/