body
{
	background-image: url("../pics/wallpaper.jpg"); 
}

#bar
{
	background-color: white;
	height: 150px;
	width: 100%;
	position: relative;
}

#logo
{
	position: absolute;
	left:20%;
}

#nom
{
	position: absolute;
	left:30%;
	top: 20px;
}

.name
{
	color: #3366cc;
	margin: 2px;
}

.nav-link
{
	color: white;
}

