footer{
	background-color: black;
	text-align: center;
	color:white;
	padding:25px;
}


.thumbnail
{
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 260px;
}

.img-thumbnail
{
	height: 260px;
	width: 330px;
}
